framework: auto-detect
source https://nuget.org/api/v2
source https://ci.appveyor.com/nuget/fsharp-formatting

nuget FSharp.Core

nuget FAKE 4.64.13
nuget FSharp.Formatting prerelease

github fsharp/FAKE modules/Octokit/Octokit.fsx

nuget TypeShape
nuget FsCheck

nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck
nuget Expecto.VisualStudio.TestAdapter version_in_path: true
